/*VARIABLES*/
/*MIXINS*/
/*STYLES*/
.mobile-menu {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: right;
  text-align: -webkit-right;
  position: fixed;
  right: -100vw;
  transition: 0.3s;
  width: 100%;
  margin: 0 auto;
}
.mobile-menu .menu-container {
  background-color: #E8FE15;
  display: flex;
  flex-direction: column;
  width: 25%;
  text-align: left;
  padding: 0 4%;
  height: 100vh;
}
@media screen and (max-width: 600px) {
  .mobile-menu .menu-container {
    width: 40%;
  }
}
.mobile-menu .menu-container a {
  font-family: "Open Sans", sans-serif;
  font-size: 2.5vw;
  font-weight: 800;
  color: #1C6B1C;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 5%;
  transition: 0.3s;
}
@media screen and (max-width: 600px) {
  .mobile-menu .menu-container a {
    font-size: 3.5vw;
    margin-bottom: 10%;
  }
}
.mobile-menu .menu-container a:hover {
  color: #103d10;
  border-left: 3px solid #103d10;
  padding-left: 4%;
}
.mobile-menu .menu-container .mobile-selected {
  color: #103d10;
  border-left: 3px solid #103d10;
  padding-left: 4%;
}
.mobile-menu .menu-container #close {
  padding: 5% 0;
  margin: 5% 0;
  font-weight: 900;
}
@media screen and (max-width: 600px) {
  .mobile-menu .menu-container #close {
    margin: 10% 0;
  }
}
.mobile-menu .menu-container #close:hover {
  border-left: none;
}
.mobile-menu .menu-container #mobile-menu-quote {
  width: 95%;
  margin: 0 auto;
  text-decoration: none;
  text-transform: uppercase;
  background: #1C6B1C;
  padding: 5%;
  color: #E8FE15;
  text-align: center;
  margin-top: 1vh;
}
@media screen and (max-width: 600px) {
  .mobile-menu .menu-container #mobile-menu-quote {
    width: 98% !important;
    font-size: 2.9vw;
  }
}
.mobile-menu .menu-container #mobile-menu-quote:hover {
  border-left: none;
  background-color: #103d10;
  padding-left: 5%;
}

#header {
  text-align: center;
  background-color: #E8FE15;
}
@media screen and (max-width: 1024px) {
  #header {
    text-align: left;
  }
}
@media screen and (max-width: 600px) {
  #header {
    text-align: center;
  }
}
#header #mobile-menu-btn {
  display: none;
  text-align: center;
  width: 4%;
  border: 1px solid #1C6B1C;
  position: absolute;
  font-size: 2.5vw;
  right: 5%;
  top: 4%;
  padding-top: 0.5%;
  border: 2px solid #1C6B1C;
  border-radius: 4px;
  text-decoration: none;
  color: #1C6B1C;
}
@media screen and (max-width: 1024px) {
  #header #mobile-menu-btn {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  #header #mobile-menu-btn {
    font-size: 5.3vw;
    width: 8%;
  }
}
#header #mobile-menu-btn:hover {
  color: #103d10;
  border-color: #103d10;
}
#header img {
  width: 14%;
}
@media screen and (max-width: 1024px) {
  #header img {
    text-align: left;
    padding-left: 4%;
    width: 15%;
  }
}
@media screen and (max-width: 600px) {
  #header img {
    width: 35%;
  }
}
#header .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  position: relative;
  top: -11vh;
}
@media screen and (max-width: 1024px) {
  #header .menu {
    display: none;
  }
}
#header .menu .left-menu {
  width: 50%;
  text-align: start;
}
#header .menu .left-menu a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3vw;
  font-weight: 800;
  color: #1C6B1C;
  margin-right: 5%;
  transition: 0.3s ease-out;
}
#header .menu .left-menu a:hover {
  color: #ffffff;
  border-bottom: 3px solid #1C6B1C;
  padding: 2% 0;
  position: relative;
  top: 0.5vh;
}
#header .menu .left-menu .selected {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3vw;
  font-weight: 800;
  color: #ffffff;
  margin-right: 5%;
  border-bottom: 3px solid #1C6B1C;
  padding: 2% 0;
  position: relative;
  top: 0.5vh;
}
#header .menu .left-menu .selected:hover {
  color: #ffffff;
  border-bottom: 3px solid #1C6B1C;
  padding: 2% 0;
  position: relative;
  top: 0.5vh;
}
#header .menu .right-menu {
  width: 50%;
  text-align: end;
}
#header .menu .right-menu #menu-quote {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4vw;
  font-weight: 800;
  color: #E8FE15;
  background: #1C6B1C;
  padding: 3% 4%;
  transition: 0.2s ease-out;
}
#header .menu .right-menu #menu-quote:hover {
  background: #103d10;
}

.squeeze-page {
  background-image: url("https://i.postimg.cc/brqHtLdW/top-bg-img.jpg");
  background-size: 100% 100%;
}
.squeeze-page #squeeze-bg {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 8% 0;
}
.squeeze-page #squeeze-bg .container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 600px) {
  .squeeze-page #squeeze-bg .container {
    flex-direction: column;
  }
}
.squeeze-page #squeeze-bg .container .squeeze-content {
  width: 60%;
  padding-left: 4%;
  padding-top: 3%;
}
@media screen and (max-width: 600px) {
  .squeeze-page #squeeze-bg .container .squeeze-content {
    width: 90%;
    margin: 0 auto;
    padding-top: 6%;
  }
}
.squeeze-page #squeeze-bg .container .squeeze-content #squeeze-slogan {
  font-family: "Open Sans", sans-serif;
  font-size: 5vw;
  font-weight: 800;
  color: #ffffff;
  line-height: 1.4;
  padding-bottom: 6%;
}
@media screen and (max-width: 600px) {
  .squeeze-page #squeeze-bg .container .squeeze-content #squeeze-slogan {
    font-size: 10vw;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 8%;
  }
}
.squeeze-page #squeeze-bg .container .squeeze-content #squeeze-slogan #squeeze-slogan-punctuation {
  color: #E8FE15;
}
.squeeze-page #squeeze-bg .container .squeeze-content #squeeze-btn {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2vw;
  font-weight: 800;
  color: #1C6B1C;
  background: #E8FE15;
  padding: 2% 7%;
  transition: 0.2s ease-out;
}
@media screen and (max-width: 1024px) {
  .squeeze-page #squeeze-bg .container .squeeze-content #squeeze-btn {
    font-size: 1.6vw !important;
  }
}
@media screen and (max-width: 768px) {
  .squeeze-page #squeeze-bg .container .squeeze-content #squeeze-btn {
    font-size: 2vw !important;
  }
}
@media screen and (max-width: 600px) {
  .squeeze-page #squeeze-bg .container .squeeze-content #squeeze-btn {
    padding: 4% 30%;
    font-size: 3vw !important;
  }
}
.squeeze-page #squeeze-bg .container .squeeze-content #squeeze-btn:hover {
  background: #899801;
}
.squeeze-page #squeeze-bg .container .squeeze-content .basic-serv {
  margin-top: 8%;
  padding-left: 5%;
  display: none;
}
@media screen and (max-width: 600px) {
  .squeeze-page #squeeze-bg .container .squeeze-content .basic-serv {
    width: 90%;
    margin: 12% auto;
    padding-left: 0;
  }
}
.squeeze-page #squeeze-bg .container .squeeze-content .basic-serv #basics {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8vw;
  font-weight: 800;
  color: #ffffff;
  padding-bottom: 3%;
}
@media screen and (max-width: 600px) {
  .squeeze-page #squeeze-bg .container .squeeze-content .basic-serv #basics {
    font-size: 7vw;
  }
}
.squeeze-page #squeeze-bg .container .squeeze-content .basic-serv p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4vw;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 2.5%;
}
@media screen and (max-width: 600px) {
  .squeeze-page #squeeze-bg .container .squeeze-content .basic-serv p {
    font-size: 4vw;
  }
}
.squeeze-page #squeeze-bg .container .squeeze-content .basic-serv p span {
  margin-right: 4%;
  color: #E8FE15;
  font-weight: 900;
}
.squeeze-page #squeeze-bg .container .form {
  width: 40%;
  background: white;
  padding: 6% 0;
}
@media screen and (max-width: 600px) {
  .squeeze-page #squeeze-bg .container .form {
    width: 100%;
    margin: 0 auto;
    margin-top: 15%;
  }
}
.squeeze-page #squeeze-bg .container .form form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.squeeze-page #squeeze-bg .container .form form #form-header {
  font-family: "Open Sans", sans-serif;
  font-size: 2.5vw;
  font-weight: 800;
  color: #1C6B1C;
}
@media screen and (max-width: 600px) {
  .squeeze-page #squeeze-bg .container .form form #form-header {
    font-size: 6vw;
  }
}
.squeeze-page #squeeze-bg .container .form form #form-info {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2vw;
  font-weight: 600;
  color: #262626;
  line-height: 1.9;
  padding: 4% 0 10%;
}
@media screen and (max-width: 600px) {
  .squeeze-page #squeeze-bg .container .form form #form-info {
    font-size: 3vw;
  }
}
.squeeze-page #squeeze-bg .container .form form input {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6vw;
  border-radius: 4px;
  border: 0.8px solid #262626;
  width: 99%;
  margin: 0 auto;
  margin-top: 3.4%;
  padding: 1% 0 1% 2%;
}
@media screen and (max-width: 600px) {
  .squeeze-page #squeeze-bg .container .form form input {
    font-size: 4vw;
  }
}
.squeeze-page #squeeze-bg .container .form form span {
  font-family: "Open Sans", sans-serif;
  font-size: 1vw;
  font-weight: 600;
  color: red;
  font-style: italic;
  padding-top: 1%;
  display: none;
}
.squeeze-page #squeeze-bg .container .form form a {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4vw;
  font-weight: 800;
  color: #E8FE15;
  text-decoration: none;
  text-transform: uppercase;
  background: #1C6B1C;
  padding: 2.5% 0;
  width: 102%;
  margin: 5% 0;
}
@media screen and (max-width: 600px) {
  .squeeze-page #squeeze-bg .container .form form a {
    font-size: 4vw;
  }
}
.squeeze-page #squeeze-bg .container .form form a:hover {
  background-color: #103d10;
}
.squeeze-page #squeeze-bg .container .form form .squeezed {
  display: none;
}
.squeeze-page #squeeze-bg .container .form form .squeezed #zip-sec {
  display: flex;
  flex-direction: row;
  margin-top: 2.4%;
}
.squeeze-page #squeeze-bg .container .form form .squeezed #zip-sec .zip {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.squeeze-page #squeeze-bg .container .form form .squeezed #zip-sec .zip #zip {
  width: 80%;
}
.squeeze-page #squeeze-bg .container .form form .squeezed #zip-sec .zip #zip-error {
  text-align: center;
}
.squeeze-page #squeeze-bg .container .form form .squeezed #zip-sec .state {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.squeeze-page #squeeze-bg .container .form form .squeezed #zip-sec .state #state {
  width: 80%;
}
.squeeze-page #squeeze-bg .container .form form .squeezed #zip-sec .state #state-error {
  text-align: center;
}
.squeeze-page #squeeze-bg .container .form form .squeezed #submit {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4vw;
  font-weight: 800;
  color: #E8FE15;
  text-decoration: none;
  text-transform: uppercase;
  background: #1C6B1C;
  padding: 2.5% 0;
  width: 102%;
  margin: 5% 0;
  border-radius: 0;
}
@media screen and (max-width: 600px) {
  .squeeze-page #squeeze-bg .container .form form .squeezed #submit {
    font-size: 4vw;
  }
}
.squeeze-page #squeeze-bg .container .form form .squeezed #submit:hover {
  background-color: #103d10;
}

.care {
  display: none;
  transition: 0.3s;
  padding: 4% 0;
  background-color: #E8FE15;
}
.care #care-header {
  font-family: "Open Sans", sans-serif;
  font-size: 4vw;
  font-weight: 800;
  color: #1C6B1C;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .care #care-header {
    font-size: 8vw;
  }
}
.care #care-sub-header {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4vw;
  font-weight: 600;
  color: #262626;
  text-align: center;
  padding: 2% 0 5%;
}
@media screen and (max-width: 600px) {
  .care #care-sub-header {
    font-size: 2.7vw;
  }
}
.care .services {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  .care .services {
    flex-direction: column;
  }
}
.care .services .grass-weeds {
  width: 24%;
  text-align: center;
  padding: 0 1%;
}
@media screen and (max-width: 600px) {
  .care .services .grass-weeds {
    width: 100%;
  }
}
.care .services .grass-weeds img {
  width: 30%;
}
@media screen and (max-width: 600px) {
  .care .services .grass-weeds img {
    width: 25%;
  }
}
.care .services .grass-weeds #grass-weeds-header {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8vw;
  font-weight: 800;
  color: #1C6B1C;
  padding: 8% 0;
}
@media screen and (max-width: 600px) {
  .care .services .grass-weeds #grass-weeds-header {
    font-size: 4vw;
    padding: 4% 0;
  }
}
.care .services .grass-weeds #grass-weeds-info {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4vw;
  font-weight: 600;
  color: #262626;
  line-height: 1.8;
}
@media screen and (max-width: 600px) {
  .care .services .grass-weeds #grass-weeds-info {
    font-size: 2.7vw;
    padding-bottom: 14%;
  }
}
.care .services .mowing {
  width: 24%;
  text-align: center;
  padding: 0 1%;
}
@media screen and (max-width: 600px) {
  .care .services .mowing {
    width: 100%;
  }
}
.care .services .mowing img {
  width: 30%;
}
@media screen and (max-width: 600px) {
  .care .services .mowing img {
    width: 25%;
  }
}
.care .services .mowing #mowing-header {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8vw;
  font-weight: 800;
  color: #1C6B1C;
  padding: 8% 0;
}
@media screen and (max-width: 600px) {
  .care .services .mowing #mowing-header {
    font-size: 4vw;
    padding: 4% 0;
  }
}
.care .services .mowing #mowing-info {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4vw;
  font-weight: 600;
  color: #262626;
  line-height: 1.8;
}
@media screen and (max-width: 600px) {
  .care .services .mowing #mowing-info {
    font-size: 2.7vw;
    padding-bottom: 14%;
  }
}
.care .services .landscape {
  width: 24%;
  text-align: center;
  padding: 0 1%;
}
@media screen and (max-width: 600px) {
  .care .services .landscape {
    width: 100%;
  }
}
.care .services .landscape img {
  width: 30%;
}
@media screen and (max-width: 600px) {
  .care .services .landscape img {
    width: 25%;
  }
}
.care .services .landscape #landscape-header {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8vw;
  font-weight: 800;
  color: #1C6B1C;
  padding: 8% 0;
}
@media screen and (max-width: 600px) {
  .care .services .landscape #landscape-header {
    font-size: 4vw;
    padding: 4% 0;
  }
}
.care .services .landscape #landscape-info {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4vw;
  font-weight: 600;
  color: #262626;
  line-height: 1.8;
}
@media screen and (max-width: 600px) {
  .care .services .landscape #landscape-info {
    font-size: 2.7vw;
    padding-bottom: 14%;
  }
}
.care .services .watering {
  width: 24%;
  text-align: center;
  padding: 0 1%;
}
@media screen and (max-width: 600px) {
  .care .services .watering {
    width: 100%;
  }
}
.care .services .watering img {
  width: 30%;
}
@media screen and (max-width: 600px) {
  .care .services .watering img {
    width: 25%;
  }
}
.care .services .watering #watering-header {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8vw;
  font-weight: 800;
  color: #1C6B1C;
  padding: 8% 0;
}
@media screen and (max-width: 600px) {
  .care .services .watering #watering-header {
    font-size: 4vw;
    padding: 4% 0;
  }
}
.care .services .watering #watering-info {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4vw;
  font-weight: 600;
  color: #262626;
  line-height: 1.8;
}
@media screen and (max-width: 600px) {
  .care .services .watering #watering-info {
    font-size: 2.7vw;
    padding-bottom: 14%;
  }
}

.history {
  display: none;
  transition: 0.3s;
}
.history .container {
  width: 40%;
  margin: 0 auto;
  padding: 6% 0 12%;
}
@media screen and (max-width: 600px) {
  .history .container {
    width: 90%;
    margin: 0 auto;
    padding: 8% 0 16%;
  }
}
.history .container #history-header {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 3.5vw;
  font-weight: 800;
  color: #1C6B1C;
  padding-bottom: 3.7%;
}
@media screen and (max-width: 600px) {
  .history .container #history-header {
    text-align: left;
    font-size: 8vw;
  }
}
.history .container #history-infoA {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4vw;
  font-weight: 600;
  color: #262626;
  line-height: 1.8;
  padding-bottom: 3.7%;
}
@media screen and (max-width: 600px) {
  .history .container #history-infoA {
    font-size: 2.7vw;
    line-height: 2;
    padding-bottom: 4.5%;
  }
}
.history .container #history-infoB {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4vw;
  font-weight: 600;
  color: #262626;
  line-height: 1.8;
}
@media screen and (max-width: 600px) {
  .history .container #history-infoB {
    font-size: 2.7vw;
    line-height: 2;
    padding-bottom: 2%;
  }
}
.history .container #history-btn {
  text-decoration: none;
  text-transform: uppercase;
  background: #1C6B1C;
  padding: 2.5% 5%;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4vw;
  font-weight: 800;
  color: #E8FE15;
  position: relative;
  top: 8vh;
}
@media screen and (max-width: 600px) {
  .history .container #history-btn {
    padding: 2.5% 32%;
    font-size: 3vw;
  }
}
.history .container #history-btn:hover {
  background-color: #103d10;
}

.consultation {
  display: none;
  transition: 0.3s;
  background-image: url("https://i.postimg.cc/g0wMzM6K/btm-yard.jpg");
  background-size: 100% 100%;
}
.consultation #consultation-bg {
  background-color: rgba(5, 35, 5, 0.7);
}
.consultation #consultation-bg .container {
  text-align: center;
  padding: 8% 0;
}
@media screen and (max-width: 600px) {
  .consultation #consultation-bg .container {
    padding: 30% 0;
  }
}
.consultation #consultation-bg .container #consultation-header {
  font-family: "Open Sans", sans-serif;
  font-size: 3.7vw;
  font-weight: 800;
  color: #ffffff;
}
@media screen and (max-width: 600px) {
  .consultation #consultation-bg .container #consultation-header {
    font-size: 7vw;
  }
}
.consultation #consultation-bg .container #consultation-header span {
  color: #E8FE15;
}
.consultation #consultation-bg .container #consultation-sub-header {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4vw;
  font-weight: 600;
  color: #ffffff;
  padding: 3% 0;
}
@media screen and (max-width: 600px) {
  .consultation #consultation-bg .container #consultation-sub-header {
    font-size: 2.7vw;
    padding-bottom: 6%;
  }
}
.consultation #consultation-bg .container #consultation-btn {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2vw;
  font-weight: 800;
  color: #1C6B1C;
  text-decoration: none;
  text-transform: uppercase;
  background: #E8FE15;
  padding: 1% 1.5%;
}
@media screen and (max-width: 600px) {
  .consultation #consultation-bg .container #consultation-btn {
    font-size: 2.7vw;
    padding: 2% 3%;
  }
}
.consultation #consultation-bg .container #consultation-btn:hover {
  background-color: #899801;
}

.about-page {
  display: none;
}
.about-page #about-page-top-banner {
  text-align: center;
  background-image: url("https://i.postimg.cc/4xq1tf8k/about-banner.jpg");
  background-size: 100% 100%;
}
.about-page #about-page-top-banner #about-banner-bg {
  background: rgba(5, 35, 5, 0.7);
  background-color: rgba(5, 35, 5, 0.7);
}
@media screen and (max-width: 768px) {
  .about-page #about-page-top-banner #about-banner-bg {
    padding: 0 14%;
  }
}
@media screen and (max-width: 500px) {
  .about-page #about-page-top-banner #about-banner-bg {
    padding-top: 6%;
    padding-bottom: 6%;
  }
}
.about-page #about-page-top-banner #about-banner-bg #about-page-top-banner-title {
  font-family: "Open Sans", sans-serif;
  font-size: 5vw;
  font-weight: 800;
  color: #ffffff;
  padding: 10% 0;
}
@media screen and (max-width: 1024px) {
  .about-page #about-page-top-banner #about-banner-bg #about-page-top-banner-title {
    font-size: 50px;
  }
}
@media screen and (max-width: 500px) {
  .about-page #about-page-top-banner #about-banner-bg #about-page-top-banner-title {
    font-size: 36px !important;
  }
}
.about-page #about-page-top-banner #about-banner-bg #about-page-top-banner-title span {
  color: yellow;
}
.about-page .about-container {
  width: 68%;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #262626;
  padding: 5% 0 3%;
}
@media screen and (max-width: 1024px) {
  .about-page .about-container {
    width: 80% !important;
  }
}
.about-page .about-container #about-p1 {
  line-height: 1.6;
}
.about-page .about-container #about-p2 {
  line-height: 1.6;
  padding: 3% 0;
}
.about-page .about-container .bill {
  display: flex;
  flex-direction: row;
  padding: 6% 0 10%;
}
@media screen and (max-width: 500px) {
  .about-page .about-container .bill {
    flex-direction: column;
    padding-top: 10% !important;
  }
}
.about-page .about-container .bill img {
  border-radius: 100%;
}
@media screen and (max-width: 768px) {
  .about-page .about-container .bill img {
    width: 45%;
  }
}
@media screen and (max-width: 500px) {
  .about-page .about-container .bill img {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 6%;
  }
}
.about-page .about-container .bill #bill-bio {
  padding-left: 5%;
  margin: auto;
}
.about-page .about-container .bill #bill-bio #bill-name {
  color: #1C6B1C;
  font-weight: 800;
  font-size: 38px;
}
@media screen and (max-width: 768px) {
  .about-page .about-container .bill #bill-bio #bill-name {
    font-size: 28px !important;
  }
}
@media screen and (max-width: 500px) {
  .about-page .about-container .bill #bill-bio #bill-name {
    text-align: center;
    font-size: 32px !important;
  }
}
.about-page .about-container .bill #bill-bio #bill-info {
  padding-top: 5%;
}
@media screen and (max-width: 768px) {
  .about-page .about-container .bill #bill-bio #bill-info {
    line-height: 1.4;
    padding-top: 3%;
    font-size: 16px;
  }
}
@media screen and (max-width: 500px) {
  .about-page .about-container .bill #bill-bio #bill-info {
    font-size: 18px !important;
  }
}
.about-page .about-container .shay {
  display: flex;
  flex-direction: row;
  padding-bottom: 10%;
}
@media screen and (max-width: 500px) {
  .about-page .about-container .shay {
    flex-direction: column;
  }
}
.about-page .about-container .shay img {
  border-radius: 100%;
}
@media screen and (max-width: 768px) {
  .about-page .about-container .shay img {
    width: 45%;
  }
}
@media screen and (max-width: 500px) {
  .about-page .about-container .shay img {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 6%;
  }
}
.about-page .about-container .shay #shay-bio {
  padding-left: 5%;
  margin: auto;
}
.about-page .about-container .shay #shay-bio #shay-name {
  color: #1C6B1C;
  font-weight: 800;
  font-size: 38px;
}
@media screen and (max-width: 768px) {
  .about-page .about-container .shay #shay-bio #shay-name {
    font-size: 28px !important;
  }
}
@media screen and (max-width: 500px) {
  .about-page .about-container .shay #shay-bio #shay-name {
    text-align: center;
    font-size: 32px !important;
  }
}
.about-page .about-container .shay #shay-bio #shay-info {
  padding-top: 5%;
}
@media screen and (max-width: 768px) {
  .about-page .about-container .shay #shay-bio #shay-info {
    line-height: 1.4;
    padding-top: 3%;
    font-size: 16px;
  }
}
@media screen and (max-width: 500px) {
  .about-page .about-container .shay #shay-bio #shay-info {
    font-size: 18px !important;
  }
}
.about-page .about-container .garrett {
  display: flex;
  flex-direction: row;
  padding-bottom: 5%;
}
@media screen and (max-width: 500px) {
  .about-page .about-container .garrett {
    flex-direction: column;
  }
}
.about-page .about-container .garrett img {
  border-radius: 100%;
}
@media screen and (max-width: 768px) {
  .about-page .about-container .garrett img {
    width: 45%;
  }
}
@media screen and (max-width: 500px) {
  .about-page .about-container .garrett img {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 6%;
  }
}
.about-page .about-container .garrett #garrett-bio {
  padding-left: 5%;
  margin: auto;
}
.about-page .about-container .garrett #garrett-bio #garrett-name {
  color: #1C6B1C;
  font-weight: 800;
  font-size: 38px;
}
@media screen and (max-width: 768px) {
  .about-page .about-container .garrett #garrett-bio #garrett-name {
    font-size: 28px !important;
  }
}
@media screen and (max-width: 500px) {
  .about-page .about-container .garrett #garrett-bio #garrett-name {
    text-align: center;
    font-size: 32px !important;
  }
}
.about-page .about-container .garrett #garrett-bio #garrett-info {
  padding-top: 5%;
  font-size: 18px !important;
}
@media screen and (max-width: 768px) {
  .about-page .about-container .garrett #garrett-bio #garrett-info {
    line-height: 1.4;
    padding-top: 3%;
    font-size: 16px;
  }
}
.about-page .about-page-btm-banner {
  background: #E8FE15;
  background-color: #E8FE15;
  text-align: center;
  padding: 8% 0;
}
@media screen and (max-width: 500px) {
  .about-page .about-page-btm-banner {
    padding: 12% 0;
  }
}
.about-page .about-page-btm-banner #about-page-btm-banner-title {
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  font-weight: 800;
  color: #1C6B1C;
  padding-bottom: 5%;
}
@media screen and (max-width: 768px) {
  .about-page .about-page-btm-banner #about-page-btm-banner-title {
    font-size: 42px;
  }
}
@media screen and (max-width: 500px) {
  .about-page .about-page-btm-banner #about-page-btm-banner-title {
    font-size: 36px;
  }
}
.about-page .about-page-btm-banner #about-page-btm-banner-btn {
  text-decoration: none;
  text-transform: uppercase;
  background: #1C6B1C;
  padding: 1% 2%;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 800;
  color: #E8FE15;
  transition: 0.2s ease-out;
}
@media screen and (max-width: 768px) {
  .about-page .about-page-btm-banner #about-page-btm-banner-btn {
    font-size: 18px;
  }
}
@media screen and (max-width: 500px) {
  .about-page .about-page-btm-banner #about-page-btm-banner-btn {
    font-size: 14px;
  }
}
.about-page .about-page-btm-banner #about-page-btm-banner-btn:hover {
  background: #103d10;
}

.services-page {
  display: none;
}
.services-page #services-page-top-banner {
  text-align: center;
  background-image: url("https://i.postimg.cc/tJqCcqs7/service-img.jpg");
  background-size: 100% 100%;
}
.services-page #services-page-top-banner #services-banner-bg {
  background: rgba(5, 35, 5, 0.7);
  background-color: rgba(5, 35, 5, 0.7);
}
@media screen and (max-width: 768px) {
  .services-page #services-page-top-banner #services-banner-bg {
    padding: 0 14%;
  }
}
@media screen and (max-width: 500px) {
  .services-page #services-page-top-banner #services-banner-bg {
    padding-top: 6%;
    padding-bottom: 6%;
  }
}
.services-page #services-page-top-banner #services-banner-bg #services-page-top-banner-title {
  font-family: "Open Sans", sans-serif;
  font-size: 5vw;
  font-weight: 800;
  color: #ffffff;
  padding: 10% 0;
}
@media screen and (max-width: 1024px) {
  .services-page #services-page-top-banner #services-banner-bg #services-page-top-banner-title {
    font-size: 50px;
  }
}
@media screen and (max-width: 500px) {
  .services-page #services-page-top-banner #services-banner-bg #services-page-top-banner-title {
    font-size: 36px !important;
  }
}
.services-page #services-page-top-banner #services-banner-bg #services-page-top-banner-title span {
  color: yellow;
}
.services-page .services-container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: 6% 0 8%;
  justify-content: space-between;
}
@media screen and (max-width: 600px) {
  .services-page .services-container {
    flex-direction: column;
  }
}
.services-page .services-container .services-page-grass-weeds {
  width: 24%;
  text-align: center;
  padding: 0 1%;
}
@media screen and (max-width: 600px) {
  .services-page .services-container .services-page-grass-weeds {
    width: 100%;
  }
}
.services-page .services-container .services-page-grass-weeds img {
  width: 30%;
}
@media screen and (max-width: 600px) {
  .services-page .services-container .services-page-grass-weeds img {
    width: 25%;
  }
}
.services-page .services-container .services-page-grass-weeds #services-page-grass-weeds-header {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8vw;
  font-weight: 800;
  color: #1C6B1C;
  padding: 8% 0;
}
@media screen and (max-width: 600px) {
  .services-page .services-container .services-page-grass-weeds #services-page-grass-weeds-header {
    font-size: 4vw;
    padding: 4% 0;
  }
}
.services-page .services-container .services-page-grass-weeds #services-page-grass-weeds-info {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4vw;
  font-weight: 600;
  color: #262626;
  line-height: 1.8;
}
@media screen and (max-width: 600px) {
  .services-page .services-container .services-page-grass-weeds #services-page-grass-weeds-info {
    font-size: 2.7vw;
    padding-bottom: 14%;
  }
}
.services-page .services-container .services-page-mowing {
  width: 24%;
  text-align: center;
  padding: 0 1%;
}
@media screen and (max-width: 600px) {
  .services-page .services-container .services-page-mowing {
    width: 100%;
  }
}
.services-page .services-container .services-page-mowing img {
  width: 30%;
}
@media screen and (max-width: 600px) {
  .services-page .services-container .services-page-mowing img {
    width: 25%;
  }
}
.services-page .services-container .services-page-mowing #services-page-mowing-header {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8vw;
  font-weight: 800;
  color: #1C6B1C;
  padding: 8% 0;
}
@media screen and (max-width: 600px) {
  .services-page .services-container .services-page-mowing #services-page-mowing-header {
    font-size: 4vw;
    padding: 4% 0;
  }
}
.services-page .services-container .services-page-mowing #services-page-mowing-info {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4vw;
  font-weight: 600;
  color: #262626;
  line-height: 1.8;
}
@media screen and (max-width: 600px) {
  .services-page .services-container .services-page-mowing #services-page-mowing-info {
    font-size: 2.7vw;
    padding-bottom: 14%;
  }
}
.services-page .services-container .services-page-landscape {
  width: 24%;
  text-align: center;
  padding: 0 1%;
}
@media screen and (max-width: 600px) {
  .services-page .services-container .services-page-landscape {
    width: 100%;
  }
}
.services-page .services-container .services-page-landscape img {
  width: 30%;
}
@media screen and (max-width: 600px) {
  .services-page .services-container .services-page-landscape img {
    width: 25%;
  }
}
.services-page .services-container .services-page-landscape #services-page-landscape-header {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8vw;
  font-weight: 800;
  color: #1C6B1C;
  padding: 8% 0;
}
@media screen and (max-width: 600px) {
  .services-page .services-container .services-page-landscape #services-page-landscape-header {
    font-size: 4vw;
    padding: 4% 0;
  }
}
.services-page .services-container .services-page-landscape #services-page-landscape-info {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4vw;
  font-weight: 600;
  color: #262626;
  line-height: 1.8;
}
@media screen and (max-width: 600px) {
  .services-page .services-container .services-page-landscape #services-page-landscape-info {
    font-size: 2.7vw;
    padding-bottom: 14%;
  }
}
.services-page .services-container .services-page-watering {
  width: 24%;
  text-align: center;
  padding: 0 1%;
}
@media screen and (max-width: 600px) {
  .services-page .services-container .services-page-watering {
    width: 100%;
  }
}
.services-page .services-container .services-page-watering img {
  width: 30%;
}
@media screen and (max-width: 600px) {
  .services-page .services-container .services-page-watering img {
    width: 25%;
  }
}
.services-page .services-container .services-page-watering #services-page-watering-header {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8vw;
  font-weight: 800;
  color: #1C6B1C;
  padding: 8% 0;
}
@media screen and (max-width: 600px) {
  .services-page .services-container .services-page-watering #services-page-watering-header {
    font-size: 4vw;
    padding: 4% 0;
  }
}
.services-page .services-container .services-page-watering #services-page-watering-info {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4vw;
  font-weight: 600;
  color: #262626;
  line-height: 1.8;
}
@media screen and (max-width: 600px) {
  .services-page .services-container .services-page-watering #services-page-watering-info {
    font-size: 2.7vw;
    padding-bottom: 14%;
  }
}
.services-page .services-page-promise {
  background-image: url("https://i.postimg.cc/BnYDczwx/promise.jpg");
  background-size: 100% 100%;
}
.services-page .services-page-promise #promise-bg {
  background: rgba(5, 35, 5, 0.7);
  background-color: rgba(5, 35, 5, 0.7);
  padding: 8% 0;
}
@media screen and (max-width: 600px) {
  .services-page .services-page-promise #promise-bg {
    padding: 12% 0 !important;
  }
}
.services-page .services-page-promise #promise-bg #promise-container {
  background: #E8FE15;
  background-color: #E8FE15;
  width: 40%;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .services-page .services-page-promise #promise-bg #promise-container {
    width: 60%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 600px) {
  .services-page .services-page-promise #promise-bg #promise-container {
    width: 100%;
    margin: 0 auto;
  }
}
.services-page .services-page-promise #promise-bg #promise-container #promise-title {
  text-align: center;
  padding-top: 6%;
  font-family: "Open Sans", sans-serif;
  font-size: 46px;
  font-weight: 800;
  color: #1C6B1C;
}
@media screen and (max-width: 500px) {
  .services-page .services-page-promise #promise-bg #promise-container #promise-title {
    font-size: 32px;
  }
}
.services-page .services-page-promise #promise-bg #promise-container #promise-info {
  padding: 4% 8% 8%;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #262626;
  line-height: 1.5;
}
@media screen and (max-width: 500px) {
  .services-page .services-page-promise #promise-bg #promise-container #promise-info {
    line-height: 1.3;
  }
}
.services-page .services-page-btm-banner {
  text-align: center;
  padding: 6% 0;
}
@media screen and (max-width: 500px) {
  .services-page .services-page-btm-banner {
    padding: 8% 4% !important;
  }
}
.services-page .services-page-btm-banner #services-page-btm-banner-title {
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  font-weight: 800;
  color: #1C6B1C;
  padding-bottom: 4%;
}
@media screen and (max-width: 768px) {
  .services-page .services-page-btm-banner #services-page-btm-banner-title {
    font-size: 32px !important;
  }
}
.services-page .services-page-btm-banner #services-page-btm-banner-btn {
  text-decoration: none;
  text-transform: uppercase;
  background: #1C6B1C;
  padding: 1% 2%;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 800;
  color: #E8FE15;
  transition: 0.2s ease-out;
}
@media screen and (max-width: 768px) {
  .services-page .services-page-btm-banner #services-page-btm-banner-btn {
    font-size: 18px;
  }
}
@media screen and (max-width: 500px) {
  .services-page .services-page-btm-banner #services-page-btm-banner-btn {
    font-size: 14px;
  }
}
.services-page .services-page-btm-banner #services-page-btm-banner-btn:hover {
  background: #103d10;
}

.contact-page {
  display: none;
}
.contact-page #contact-page-top-banner {
  text-align: center;
  background-image: url("https://i.postimg.cc/4dT3zbZ6/contact-banner.jpg");
  background-size: 100% 100%;
}
.contact-page #contact-page-top-banner #contact-banner-bg {
  background: rgba(5, 35, 5, 0.7);
  background-color: rgba(5, 35, 5, 0.7);
}
@media screen and (max-width: 768px) {
  .contact-page #contact-page-top-banner #contact-banner-bg {
    padding: 0 14%;
  }
}
@media screen and (max-width: 500px) {
  .contact-page #contact-page-top-banner #contact-banner-bg {
    padding-top: 6%;
    padding-bottom: 6%;
  }
}
.contact-page #contact-page-top-banner #contact-banner-bg #contact-page-top-banner-title {
  font-family: "Open Sans", sans-serif;
  font-size: 5vw;
  font-weight: 800;
  color: #ffffff;
  padding: 10% 0;
}
@media screen and (max-width: 1024px) {
  .contact-page #contact-page-top-banner #contact-banner-bg #contact-page-top-banner-title {
    font-size: 50px;
  }
}
@media screen and (max-width: 500px) {
  .contact-page #contact-page-top-banner #contact-banner-bg #contact-page-top-banner-title {
    font-size: 36px !important;
  }
}
.contact-page #contact-page-top-banner #contact-banner-bg #contact-page-top-banner-title span {
  color: yellow;
}
.contact-page #contact-page-form {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 6% 0;
}
@media screen and (max-width: 600px) {
  .contact-page #contact-page-form {
    width: 75%;
  }
}
.contact-page #contact-page-form #contact-page-form-info {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #262626;
  line-height: 2;
  padding-bottom: 6%;
}
.contact-page #contact-page-form label {
  padding-bottom: 0.4%;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #4c515d;
}
.contact-page #contact-page-form input, .contact-page #contact-page-form textarea {
  margin-bottom: 1.5%;
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
  font-weight: 400;
  color: #262626;
  padding: 0.4% 0 0.4% 0.7%;
  border-radius: 4px;
  border: 1px solid #4c515d;
}
.contact-page #contact-page-form #contact-page-form-btn {
  border-radius: 0;
  text-transform: uppercase;
  color: #E8FE15;
  background: #1C6B1C;
  background-color: #1C6B1C;
  padding: 2% 0;
  font-size: 22px;
  font-weight: 700;
  transition: 0.3s;
  margin-top: 0.5%;
}
.contact-page #contact-page-form #contact-page-form-btn:hover {
  background: #103d10;
  background-color: #103d10;
}

.footer {
  text-align: center;
  background: #1C6B1C;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3vw;
  font-weight: 500;
  color: #ffffff;
  padding: 1% 0;
}
@media screen and (max-width: 600px) {
  .footer {
    font-size: 3vw;
    padding: 2% 0;
  }
}
.footer #media-icons {
  padding: 1.5% 0;
}
.footer #media-icons a {
  text-decoration: none;
  color: #ffffff;
  font-size: 2vw;
  margin: 0 1.5%;
  transition: 0.2s ease-in-out;
}
@media screen and (max-width: 1024px) {
  .footer #media-icons a {
    font-size: 3vw;
  }
}
@media screen and (max-width: 600px) {
  .footer #media-icons a {
    font-size: 4vw;
    margin: 0 3%;
  }
}
.footer #media-icons a:hover {
  color: #E8FE15;
}
@media screen and (max-width: 1024px) {
  .footer #copy-rights {
    font-size: 1.6vw;
  }
}
@media screen and (max-width: 600px) {
  .footer #copy-rights {
    font-size: 2vw;
  }
}

.quote-pop-up {
  background: rgba(0, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.quote-pop-up .quote {
  background: white;
  background-color: white;
  width: 50%;
  padding: 8% 6% 5%;
  position: relative;
}
@media screen and (max-width: 600px) {
  .quote-pop-up .quote {
    width: 85%;
    padding: 12% 8% 8%;
  }
}
.quote-pop-up .quote #quote-close-btn {
  text-decoration: none;
  color: rgba(5, 35, 5, 0.7);
  font-size: 3vw;
  transition: 0.3s;
  position: absolute;
  top: 20px;
  right: 20px;
}
.quote-pop-up .quote #quote-close-btn:hover {
  color: #E8FE15;
}
@media screen and (max-width: 600px) {
  .quote-pop-up .quote #quote-close-btn {
    font-size: 5vw;
  }
}
.quote-pop-up .quote #quote-title {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 3.6vw;
  font-weight: 800;
  color: #1C6B1C;
}
@media screen and (max-width: 600px) {
  .quote-pop-up .quote #quote-title {
    font-size: 5.9vw;
  }
}
.quote-pop-up .quote #quote-mesg {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6vw;
  font-weight: 500;
  color: black;
  padding: 5% 0 6%;
}
@media screen and (max-width: 600px) {
  .quote-pop-up .quote #quote-mesg {
    font-size: 2.9vw;
  }
}
.quote-pop-up .quote #quote-form {
  display: flex;
  flex-direction: column;
}
.quote-pop-up .quote #quote-form input {
  margin: 1% 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6vw;
  font-weight: 500;
  color: #262626;
  padding: 0.4% 0 0.4% 0.7%;
  border-radius: 4px;
  border: 1px solid #4c515d;
}
@media screen and (max-width: 600px) {
  .quote-pop-up .quote #quote-form input {
    font-size: 2.9vw;
  }
}
.quote-pop-up .quote #quote-form #quote-form-btn {
  border-radius: 0;
  text-transform: uppercase;
  color: #E8FE15;
  background: #1C6B1C;
  background-color: #1C6B1C;
  padding: 1.8% 0;
  font-size: 1.5vw;
  font-weight: 700;
  transition: 0.3s;
  margin-top: 1%;
}
.quote-pop-up .quote #quote-form #quote-form-btn:hover {
  background: #103d10;
  background-color: #103d10;
}
@media screen and (max-width: 600px) {
  .quote-pop-up .quote #quote-form #quote-form-btn {
    font-size: 3vw;
  }
}
.quote-pop-up .quote #quote-form span {
  font-family: "Open Sans", sans-serif;
  font-size: 1vw;
  font-weight: 600;
  color: red;
  font-style: italic;
  display: none;
}

.schedule-pop-up {
  background: rgba(0, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.schedule-pop-up .schedule-container {
  background: white;
  background-color: white;
  width: 50%;
  padding: 8% 6% 5%;
  position: relative;
}
@media screen and (max-width: 600px) {
  .schedule-pop-up .schedule-container {
    width: 85%;
    padding: 12% 8% 8%;
  }
}
.schedule-pop-up .schedule-container #schedule-close-btn {
  text-decoration: none;
  color: rgba(5, 35, 5, 0.7);
  font-size: 3vw;
  transition: 0.3s;
  position: absolute;
  top: 20px;
  right: 20px;
}
.schedule-pop-up .schedule-container #schedule-close-btn:hover {
  color: #E8FE15;
}
@media screen and (max-width: 600px) {
  .schedule-pop-up .schedule-container #schedule-close-btn {
    font-size: 5vw;
  }
}
.schedule-pop-up .schedule-container #thankyou-title {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 3.6vw;
  font-weight: 800;
  color: #1C6B1C;
}
@media screen and (max-width: 600px) {
  .schedule-pop-up .schedule-container #thankyou-title {
    font-size: 5.9vw;
  }
}
.schedule-pop-up .schedule-container #thankyou-msg {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6vw;
  font-weight: 500;
  color: black;
  padding: 5% 0 6%;
}
@media screen and (max-width: 600px) {
  .schedule-pop-up .schedule-container #thankyou-msg {
    font-size: 2.9vw;
  }
}
.schedule-pop-up .schedule-container #thanks {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6vw;
  font-weight: 700;
  color: #1C6B1C;
  padding: 6% 0 6%;
}
@media screen and (max-width: 600px) {
  .schedule-pop-up .schedule-container #thanks {
    font-size: 2.9vw;
  }
}

/*# sourceMappingURL=main.css.map */
