/*VARIABLES*/
//Font...
$text: 'Open Sans', sans-serif

//Colors...
$green: #1C6B1C  
$green-action: #103d10
$green-Olay: rgba(28, 107, 28, .7)
$yellow: #E8FE15 
$yellow-action: #899801
$d-text: #262626
$w-text: #ffffff

//Backgrounds...
$top-bg-img: '../images/top-bg-img.jpg'
$btm-bg-img: '../images/btm-yard.jpg'

/*MIXINS*/
//Center
=center($width, $margin)
    width: $width
    margin: $margin
//Font...
=font($font,$size,$weight,$color)
    font-family: $font
    font-size: $size
    font-weight: $weight
    color: $color

//Background-Image...
=bg-img($img,$size)
    background-image: url($img)
    background-size: 100% 100%

//Btn's...
=btn($dec,$trans,$bg-color,$pad)
    text-decoration: $dec
    text-transform: $trans
    background: $bg-color
    padding: $pad

//Display Flex...
=flex($flex,$direction)
    display: $flex
    flex-direction: $direction

// Media Queries Mixin...
=media($screen)
    @media screen and (max-width: $screen)
        @content
    


/*STYLES*/
.mobile-menu
    background-color: rgba(0,0,0,.7)
    text-align: right
    text-align: -webkit-right
    position: fixed
    right: -100vw
    transition: 0.3s
    +center(100%, 0 auto)
    .menu-container
        background-color: $yellow
        +flex(flex,column)
        width: 40%
        text-align: left
        padding: 0 4% 
        height: 100vh
        a 
            +font($text,3.5vw,800,$green)
            text-decoration: none
            text-transform: uppercase
            margin-bottom: 10% 
            transition: 0.3s
            &:hover
                color: $green-action
                border-left: 2px solid $green-action
                padding-left: 6%
        #close
            padding: 5% 0 
            margin: 10% 0 
            font-weight: 900
            &:hover
                border-left: none
        #mobile-menu-quote
            +center(90%, 0 auto)
            +btn(none,uppercase,$green,5%)
            color: $yellow
            text-align: center
            &:hover
                border-left: none
                background-color: $green-action
                padding-left: 5%
#header
    text-align: center
    background-color: $yellow
    #mobile-menu-btn
        display: none
        text-align: center
        width: 8%
        border: 1px solid $green
        position: absolute
        font-size: 5.3vw
        right: 5%
        top: 5%
        padding-top: .5%
        border: 2px solid $green
        border-radius: 4px
        text-decoration: none
        color: $green
        +media(600px)
            display: block
        &:hover
            color: $green-action
            border-color: $green-action
    img
        width: 14%
        +media(600px)
            width: 45%
    .menu
        display: flex
        flex-direction: row
        justify-content: space-between
        +center(85%, 0 auto)
        position: relative
        top: -11vh
        +media(600px)
            display: none
        .left-menu
            width: 50%
            text-align: start
            a
                text-decoration: none
                text-transform: uppercase
                +font($text,1.3vw,800,$green)
                margin-right: 5%
                transition: 0.3s ease-out 
                &:hover
                    color: $w-text
                    border-bottom: 3px solid $green
                    padding: 2% 0
                    position: relative
                    top: .5vh
        .right-menu
            width: 50%
            text-align: end
            #quote
                text-decoration: none
                text-transform: uppercase
                +font($text,1.4vw,800,$yellow)
                background: $green
                padding: 3% 4%
                transition: 0.2s ease-out 
                &:hover
                    background: $green-action
.squeeze-page
    +bg-img($top-bg-img,100%  100%)
    #squeeze-bg
        background-color: rgba(0,0,0,.6)
        padding: 8% 0
        .container
            +center(95%,0 auto)
            display: flex
            flex-direction: row 
            +media(600px)
                flex-direction: column
            .squeeze-content
                width: 60%
                padding-left: 4%
                padding-top: 3%
                +media(600px)
                    +center(90%, 0 auto)
                    padding-top: 6%
                #squeeze-slogan
                    +font($text,5vw,800,$w-text)
                    line-height: 1.4
                    padding-bottom: 6%
                    +media(600px)
                        font-size: 10vw
                        +center(100%, 0 auto)
                        padding-bottom: 8%
                    #squeeze-slogan-punctuation
                        color: $yellow
                #squeeze-btn
                    text-decoration: none
                    text-transform: uppercase
                    +font($text,1.2vw,800,$green)
                    background: $yellow
                    padding: 2% 7%
                    transition: 0.2s ease-out 
                    +media(600px)
                        padding: 4% 30%
                        font-size: 3vw
                    &:hover
                        background: $yellow-action
                .basic-serv
                    margin-top: 8%
                    padding-left: 5%
                    display: none
                    +media(600px)
                        +center(90%, 12% auto)
                        padding-left: 0
                    #basics
                        +font($text,1.8vw,800,$w-text)
                        padding-bottom: 3%
                        +media(600px)
                            font-size: 7vw
                    p
                        +font($text,1.4vw,700,$w-text)
                        margin-bottom: 2.5% 
                        +media(600px)
                            font-size: 4vw
                        span
                            margin-right: 4%
                            color: $yellow
                            font-weight: 900
            .form
                width: 40%
                background: white
                padding: 6% 0
                +media(600px)
                    +center(100%, 0 auto)
                    margin-top: 15% 
                form
                    +center(80%,0 auto)
                    display: flex
                    flex-direction: column
                    #form-header
                        +font($text,2.5vw,800,$green)
                        +media(600px)
                            font-size: 6vw
                    #form-info
                        +font($text,1.2vw,600,$d-text)
                        line-height: 1.9
                        padding: 4% 0 10%
                        +media(600px)
                            font-size: 3vw
                    input
                        font-family: $text
                        font-size: 1.6vw
                        border-radius: 4px
                        border: .8px solid $d-text
                        +center(99%, 0 auto)
                        margin-bottom: 3.4%
                        padding: 1% 0 1% 2%
                        +media(600px)
                            font-size: 4vw
                    a 
                        text-align: center
                        +font($text,1.4vw,800,$yellow)
                        +btn(none,uppercase,$green,2.5% 0)
                        +center(102%,5% 0)
                        +media(600px)
                            font-size: 4vw
                        &:hover
                            background-color: $green-action
                    .squeezed
                        display: none
                        #zip-sec
                            display: flex
                            flex-direction: row

                            #zip
                                width: 30%
                            #state
                                width: 30%
                        #submit
                            +font($text,1.4vw,800,$yellow)
                            +btn(none,uppercase,$green,2.5% 0)
                            +center(102%,5% 0)
                            border-radius: 0
                            +media(600px)
                                font-size: 4vw
                            &:hover
                                background-color: $green-action
.care
    display: none
    transition: 0.3s
    padding: 8% 0
    background-color: $yellow
    #care-header
        +font($text,4vw,800,$green)
        text-align: center
    #care-sub-header
        +font($text,1.4vw,600,$d-text)
        text-align: center
        padding: 2% 0 8%
    .services
        +center(85%,0 auto)
        +flex(flex,row)
        justify-content: space-between
        .grass-weeds
            width: 24%
            text-align: center
            padding: 0 1%
            img 
                width: 30%
            #grass-weeds-header
                +font($text,1.8vw,800,$green)
                padding: 8% 0
            #grass-weeds-info
                +font($text,1.4vw,600,$d-text)
                line-height: 1.8
        .mowing
            width: 24%
            text-align: center
            padding: 0 1%
            img 
                width: 30%
            #mowing-header
                +font($text,1.8vw,800,$green)
                padding: 8% 0
            #mowing-info
                +font($text,1.4vw,600,$d-text)
                line-height: 1.8
        .landscape
            width: 24%
            text-align: center
            padding: 0 1%
            img 
                width: 30%
            #landscape-header
                +font($text,1.8vw,800,$green)
                padding: 8% 0
            #landscape-info
                +font($text,1.4vw,600,$d-text)
                line-height: 1.8
        .watering
            width: 24%
            text-align: center
            padding: 0 1%
            img 
                width: 30%
            #watering-header
                +font($text,1.8vw,800,$green)
                padding: 8% 0
            #watering-info
                +font($text,1.4vw,600,$d-text)
                line-height: 1.8
.history
    display: none
    transition: 0.3s
    .container
        +center(40%,0 auto)
        padding: 6% 0 12%
        #history-header
            text-align: center
            +font($text,3.5vw,800,$green)
            padding-bottom: 3.7%
        #history-infoA
            +font($text,1.4vw,600,$d-text)
            line-height: 1.8
            padding-bottom: 3.7%
        #history-infoB
            +font($text,1.4vw,600,$d-text)
            line-height: 1.8
        #history-btn
            +btn(none,uppercase,$green,2.5% 5%)
            +font($text,1.4vw,800,$yellow)
            position: relative 
            top: 8vh
            &:hover
                background-color: $green-action
.consultation
    display: none
    transition: 0.3s
    +bg-img($btm-bg-img,100% 100%)
    #consultation-bg
        background-color: $green-Olay
        .container
            text-align: center
            padding: 8% 0
            #consultation-header
                +font($text,3.7vw,800,$w-text)
                span
                    color: $yellow
            #consultation-sub-header
                +font($text,1.4vw,600,$w-text)
                padding: 3% 0
            #consultation-btn
                text-align: center
                +font($text,1.2vw,800,$green)
                +btn(none,uppercase,$yellow,1% 1.5%)
                &:hover
                    background-color: $yellow-action
.footer
    text-align: center
    background: $green
    +font($text,1.3vw,500,$w-text)
    padding: 1% 0
    +media(600px)
        font-size: 3vw
        padding: 2% 0
    #media-icons
        padding: 1.5% 0
        a
            text-decoration: none
            color: $w-text
            font-size: 2vw
            margin: 0 1.5%
            transition: 0.2s ease-in-out
            +media(600px)
                font-size: 6vw
                margin: 0 3%
            &:hover
                color: $yellow
            

